/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.content{
  padding: 20px
}

body{
  margin: 0px
}

i{
  opacity: 50%
}
